body {
    margin: 0 !important;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background: #1677ff;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #125bb5;
}
